@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    font-family: "Baloo Da 2", cursive;
}

html {
    font-size: 62.5%;
}


/* Front Page */

.Front-Page {}


/* Section 1 */

.section1 {
    width: 100%;
    height: 70vh;
    background: linear-gradient(to top, rgba(38, 38, 38, 0.7), rgba(38, 38, 38, 0.6)), url(images/bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.nav-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1rem solid #bbb;
}

.span-logo {
    margin: 0 1rem;
}

.logos {
    font-size: 2.3rem;
    font-family: "Ballo Da 2", cursive;
    display: flex;
    font-style: italic;
    font-weight: bold;
    color: white;
    position: relative;
    cursor: pointer;
}

.p_2 {
    position: relative;
    color: #bbb;
    font-size: 2.8rem;
}

.p_1 {
    position: absolute;
    font-size: 2.5rem;
    z-index: 2;
}

.nav-links-list {
    font-size: 1.2rem;
    font-weight: 400;
    width: 35vw;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links-item {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 10vh;
    transition: border-bottom 0.1s;
}

.nav-links-item i {
    margin-left: 3px;
    transition: all 0.3s;
}

.nav-links-item:hover {
    border-bottom: 0.2rem solid #fff;
}

.nav-links-item:hover i {
    transform: rotateZ(180deg);
}

.nav-links {
    color: white;
}

.dropdown-list {
    width: 100%;
    height: 35vh;
    background: linear-gradient(to right, #066399, #2f8fdf, #066299);
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42rem;
    flex-wrap: wrap;
    font-family: cursive;
    opacity: 0;
    visibility: hidden;
}

.dropdown-link-1 {
    color: #fff;
    font-size: 17px;
}

.dropdown-link-2 {
    color: #fff;
    font-size: 10px;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
}

.buttons button {
    height: 5vh;
    width: 6vw;
    border-radius: 3rem;
    margin: 0 10px;
    cursor: pointer;
}

.login-button {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.SignUp-button {
    background: #fff;
    color: #262626;
    border: 1px solid white;
}

.banner {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    top: 25%;
}

.title {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 400;
}

.banner-p {
    font-size: 1.5rem;
    width: 50%;
    font-weight: 400;
    color: #fff;
    margin-bottom: 3rem;
}

.blue-btn {
    height: 4.5rem;
    width: 31rem;
    background-color: #036bb1;
    border-radius: 3rem;
    border: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}


/* Section 1 */


/* Section 2 */

.section-2 {
    display: flex;
    flex-direction: column;
    padding: 12vh;
    justify-content: space-between;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10vh;
}

.card i {
    color: #229fe7;
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.card-title {
    color: black;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.card-desc {
    font-weight: 600;
    text-align: center;
    font-size: 2.2vh;
    margin-bottom: 1.5rem;
}

.card-btn {
    height: 7vh;
    width: 13vw;
    color: #036bb1;
    border: 1px solid #036bb1;
    background-color: transparent;
    font-weight: 700;
    border-radius: 25rem;
    cursor: pointer;
}

.div-title .title {
    color: #333;
}


/* End Of Section 2 */


/* Section 3*/

.section-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( to right, rgba(3, 33, 129, 0.9), rgba(9, 67, 153, 0.8), rgba(4, 32, 124, 0.9));
    padding: 13vh;
}

.list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.item-desc {
    margin: 3vh 0;
    text-align: center;
    width: 50vh;
}

.p1 {
    font-size: 4vh;
}

.p2 {
    font-size: 2.4vh;
    word-spacing: 0.1px;
}


/* End Of Section 3 */


/* Section 4 */

.section-4 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 13vh;
}

.div-img-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.img {
    width: 45rem;
}

.div-img-desc img {
    width: 100%;
}

.desc-num {
    display: flex;
    align-items: center;
    font-size: 2.3vh;
    font-weight: 700;
    margin-bottom: 2rem;
}

.desc-num a {
    cursor: pointer;
    color: #066399;
}

.number {
    border: 1px solid #333;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 2px;
    margin-right: 1rem;
}


/* End Of Section 4 */


/* Section 5 */

.section-5 {
    height: 50vh;
    background-color: #f3f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-5-title {
    color: black;
    font-size: 5vh;
    font-weight: 400;
}

.getStarted-btn {
    height: 8vh;
    width: 25vw;
    background-color: #066399;
    color: #fff;
    border-radius: 20rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
}


/* End Of Section 5 */


/* Section 6 */

.section-6 {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    width: 80%;
    border-bottom: 1px dotted black;
    padding: 2vh;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.section-6 a {
    color: #333;
    font-weight: 500;
    font-size: 2.5vh;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.flag-div {
    width: 3rem;
}

.flag-div img {
    width: 100%;
    cursor: pointer;
    border-radius: 10rem;
}


/* End Of Section 6 */


/* End Of Front Page */


/* Log in Page */

.LogInPage {
    display: none;
}

.sectionUnique {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sectionUnique .card {
    height: 70vh;
    width: 30vw;
    border: 1px solid rgb(177, 177, 177);
    padding: 5vh;
}

.span {
    width: 22vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.P {
    font-weight: bold;
    font-style: italic;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.P2 {
    font-size: 7vh;
    color: #32a4f0;
    position: absolute;
    right: -0.9vh;
    z-index: -1;
}

.P1 {
    font-size: 6.5vh;
    color: #064699;
}

.div-paypal {
    cursor: pointer;
}

.Paypal {
    font-size: 5vh;
    font-style: italic;
    font-weight: bold;
}

.Pay {
    color: #064699;
    margin: 0;
}

.pal {
    color: #32a4f0;
    margin: 0;
}

.txt-input {
    height: 7vh;
    width: 23vw;
    border-radius: 10px;
    border: 1px solid #333;
    padding: 1vh;
    padding-left: 3vh;
    color: black;
    font-weight: 400;
    font-size: 2.2vh;
}

.Log-in-btn {
    height: 7vh;
    width: 23vw;
    background-color: #064699;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.trbl-link {
    color: #229fe7;
    font-size: 1.5rem;
}

.or {
    color: rgb(148, 148, 148);
    font-size: 1.5rem;
    position: relative;
}

.or::before {
    content: "";
    height: 1px;
    width: 5vw;
    color: rgb(148, 148, 148);
}

.signUp-btn {
    height: 7vh;
    width: 23vw;
    background-color: #dbe8ec;
    font-weight: 600;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.5rem;
}


/* End of Log in Page */